/* HTML5Doctor reset */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

/* Micro Clearfix */
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/* for IE < 9 */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Base styles */

html {
	height: 100%;
}

body {
	min-height: 100%;
	background-color: #d9d9d9;
	font-family: 'Montserrat', Arial, sans-serif;
	color: #525252;
	font-size: 75%;
}

a {
	text-decoration: none;
}


#page-wrapper {
	position: relative;
	width: 100%;
	background: #ffffff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI2NSUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZDlkOWQ5IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(top, #ffffff 65%, #d9d9d9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(65%,#ffffff), color-stop(100%,#d9d9d9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 65%,#d9d9d9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 65%,#d9d9d9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 65%,#d9d9d9 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 65%,#d9d9d9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d9d9d9',GradientType=0 ); /* IE6-8 */
}

.mobile {
	display: none;
}

#header-wrapper {
	width: 100%;
	background-color: #e6e6e6;
	border-bottom: 1px solid #acacac;
}

#sub-nav {
	width: 100%;
	background-color: #5eba3d;
	color: #fff;
	margin-bottom: 3px;
	height: 28px;
}

#sub-nav ul {
	margin-right: 16px;
}

#sub-nav ul li {
	height: 28px;
	line-height: 28px;
	display: inline;
}

#sub-nav ul li a {
	color: #fff;
	text-transform: uppercase;
}

#main-nav {
	display: table;
}

.nav-column {
	display: table-column;
	width: 100%;
	height: 567px;
}

.nav-row {
	display: table-row;
	width: 100%;

}

#main-nav a {
	width: 100%;
	color: #fff;
	vertical-align: middle;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	font-size: 90%;
	border-bottom: 3px solid #fff;
}

#main-nav a.last {
	border-bottom: none;
}


#content {
	position: relative;
}

#content-copy {
	width: 100%;
	height: 70%;
	background: #fff;
	background: rgba(255,255,255,0.85);
}

#featured-image+#content-copy {
	height: 215px;
	position: absolute;
	left: 0;
	bottom: 0;
	box-sizing: border-box; 
}

#content-gallery {
	height: 30%;
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
}

#content-gallery a {
	display: inline-block;
	position: relative;
	bottom: 0;
}

#content-gallery a img {
	max-width: 100%;
}

	#header-wrapper header {
		width: 1000px;
		margin: 0 auto;
		height: 74px;
		display: block;
	}
	
	#header-wrapper #logo a:link, #header-wrapper #logo a:visited {
		float: left;
		display: block;
		height: 75px;
		line-height: 75px;
		font-size: 150%;
		color: #525252;
	}
	
	#header-wrapper header nav {
		float: right;
	}
	
	#header-wrapper header nav li {
		display: inline;
		line-height: 75px;
		height: 75px;
		margin-left: 25px;
	}
	
	#header-wrapper header nav li a{
		color: #525252;
	}

	#container {
		width: 1000px;
		margin: 0 auto;
	}
	
	#sub-nav {
		width: 100%;
		background-color: #5eba3d;
		color: #fff;
		margin-bottom: 3px;
		height: 28px;
	}
	
	#sub-nav ul {
		float: right;
		/*margin-right: 16px;*/
	}
	
	#sub-nav ul li {
		margin-left: 30px;
	}
	
	#main-nav {
		width: 32.837301587301587301587301587302%;
		float: left;
		height: 567px;
	}

	#main-nav .link-title {
		text-transform: uppercase;
	}
	
	#main-nav hr {
		width: 46.363636363636363636363636363636%;
		margin: 8px auto;
	}
	
	#content {
		width: 67.162698412698412698412698412698%;
		box-sizing: border-box;
		float: right;
		height: 567px;
		padding-left: 3px;
		overflow: hidden;
	}
	
	#featured-image img{

	}
	
	#content-copy {
		padding: 30px;
		overflow-y: auto;
		box-sizing: border-box;
		height: 70%;
	}
	
	#content-copy p {
		margin-bottom: 20px;
		line-height: 1.5em;
	}
	
	#content-copy h1 {
		font-size: 200%;
		margin-bottom: 20px;
	}
	
	#content-copy h2 {
		font-weight: bold;
		margin-bottom: 20px;
		font-size: 116.67%;
	}
	
	#footer {
		width: 85%;
		margin: 0 auto;
		font-size: 83.33333333333333%;
		padding: 30px 0;
	}
	
	#footer-logo {
		margin-bottom: 15px;
	}
	
	#footer-links ul {
		margin-bottom: 5px;
	}
	
	#footer-links li {
		height: 10px;
		line-height: 10px;
	}
